@{
    ViewData["Title"] = "About XYZ ";
}
<article>
    <div class="row">
        <i class="fas fa-search" style="color: green; font-size: 1.5em; padding-right: 10px;"></i>
        <h2>XYZ Detective Agency</h2>
    </div>
    <p>
        Our agency was founded in 1960 by Scooby and Scrappy Doo.
        The agency expanded in the 1980's across the United States and is now the top
        agency in the midwest.
    </p>
    <p>
        In 2000, the agency expanded to Europe and in 2020, the agency will also be
        in Africa and Austrailia.
    </p>
</article>
